<!doctype html>
<html>
	<head>
		<title>Fuck Parkon</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1>  {{ title }} </h1>

		{{ content }}

		<ul>
			{% for el in tracking_data %}
				<li> {{ el.start_time }} to {{ el.end_time }} </li>
			{% endfor %}
		</ul>
		<p>Number of park entries: {{ tracking_data_count }}</p>
		<p>Total number of parking days: {{ total_parking_days }}</p>
		{% if parking_days_message %}
        <p>{{ parking_days_message }}</p>
        {% endif %}
		<br>
		<br>
		<h1>Fake History</h1>
		<ul>
			{% for el in testtracking_data %}
				<li> {{ el.start_time }} to {{ el.end_time }} </li>
			{% endfor %}
		</ul>
		<p>Number of park entries: {{ testtracking_data_count }}</p>
		<p>Total number of parking days: {{ test_total_parking_days }}</p>
		{% if test_parking_days_message %}
        <p>{{ test_parking_days_message }}</p>
        {% endif %}
	</body>
</html>
